h1{
    font-size: 4px;
}

strong{
    font-weight: normal;
    font-size: 36px;
}

.element{
    background-color: blueviolet;


    /*Font properties*/
    color: burlywood;
    font-size: 33px;
    font-family: 'Italianno', cursive;
    font-weight: bold;
    text-align: right;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 2px #ff0000;
}