.square{
    border: 1px solid gray;
    width: 100px;
    height: 100px;
}

.circle{
    border: 1px dotted gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.blue{
    background-color: rgb(81, 81, 182);
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}